{% load static %}
{% include 'envapp/navbar.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gamekeeper Portal - Plastic Waste Tracker</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  </script>
</head>

<body>
  <div class="container mt-5">
    <h1>Welcome, {{ user.username }}!</h1>
    <h2>⚠️ This portal is for authorised gamekeeper users only. ⚠️</h2>

    <h2 class="mt-4">Administration Options</h2>
    <ul class="list-group">
      <li class="list-group-item">
        Create a new challenge for users 🏆 -
        <button onclick="goToCreateChallenge()" class="btn btn-success btn-sm">Create Challenge</button>
      </li>
      <li class="list-group-item">
        View, Edit, and add Water Stations to existing challenges 🔧 - 
        <button onclick="goToChallengeList()" class="btn btn-success btn-sm">Edit Challenges</button>
      </li>
      <li class="list-group-item">
        Add Water Stations to the map 💧 -
        <button onclick="goToMap()" class="btn btn-success btn-sm">Go to Map</button>
      </li>
    </ul>
  </div>

  <footer class="text-center mt-5 py-3 bg-light">
    <p>© 2025 Sip & Save | Making an Impact, One Bottle at a Time</p>
  </footer>

  <script>
	// Function to redirect to create challenge page
    function goToCreateChallenge() {
      document.location.href = "{% url 'createChallenge' %}"
    }
	
	// Function to redirect to challenge list
	function goToChallengeList() {
      document.location.href = "{% url 'challengeList' %}"
    }
	
	// Function to redirect to map
	function goToMap() {
      document.location.href = "{% url 'gamekeeper_map' %}"
    }

  </script>
</body>

</html>
{% endblock %}