{% include 'envapp/navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Station - Plastic Waste Tracker</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"
        integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
         body{
            background-image: url("{% static 'images/background2.png'%}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <h1>Scan a Station</h1>
    <!-- This is the element which actually has the viewfinder --->
    <div id="reader" style="width: 300px;"></div>
    <p>Please use the viewfinder to scan a QR Code.</p>
    <p>Upon successful scan, your points will be counted and you will be redirected back to the dashboard</p>
    <script>
        function onScanSuccess(decodedText, decodedResult) {
            // Redirect to URL, passing the station retrieved from the decoded qr code.
            window.location.href = "/scannedStation/" + decodedText
            console.log("Scanned: " + decodedText)
        }

        function onScanError(errorMessage) {
            // Log an error to the console when the scan fails
            console.warn(`Code scan error = ${error}`);
        }

        let html5QrCode = new Html5Qrcode("reader");
        html5QrCode.start(
            { facingMode: "environment" }, // This specifies the rear facing camera as a preference ('user' refers to the front-facing camera)
            {
                fps: 10,    // Frames per second (may adjust if necessary)
                qrbox: { width: 250, height: 250 }  // Size and dimensions of the viewfinder
            },
            onScanSuccess,
            onScanError
        ).catch((err) => {
            console.error("Error occurred before scanning could start:", err);
        });
    </script>
</body>

</html>
