{% load static %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        {% if request.user.role == 'gamekeeper' %}
        <a class="navbar-brand" href="{% url 'gamekeeper_dashboard' %}">Sip & Save</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'student_dashboard' %}">Sip & Save</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    {% if request.user.role == 'gamekeeper' %}
                    <a class="nav-link" href="{% url 'gamekeeper_map' %}">Map</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'map' %}">Map</a>
                    {% endif %}
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'settings' %}">
                        <img src="{% if request.user.profile_picture and request.user.profile_picture.url != '/media/profile_pics/default_profile_pic.png' %}{{ request.user.profile_picture.url }}{% else %}{{ MEDIA_URL }}profile_pics/default_profile_pic.png{% endif %}"
                            alt="Profile Picture" class="nav-profile-img">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>