<!DOCTYPE html>
<head>
    <title>Scan a Station</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js" integrity="sha512-r6rDA7W6ZeQhvl8S7yRVQUKVHdexq+GAlNkNNqVC7YyIV+NwqCTJe2hDWCiffTyRNOeGEzRRJ9ifvRm/HCzGYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <h1>Scan a Station</h1>
    <div id="reader" style="width: 300px;"></div>
    <p>Test qr contents:
		<span id="qrContents"></span>
	</p>

    <script>
        function onScanSuccess(decodedText, decodedResult) {
			// Redirect to URL, passing the station retrieved from the decoded qr code.
			window.location.href = "http://localhost:8000/scannedStation/" + decodedText // THIS NEEDS TO BE CHANGED AT A LATER DATE!!! Set to localhost for testing purposes ONLY!
			console.log("Scanned: " + decodedText)
        }

        function onScanError(errorMessage) {
            // Log an error to the console when the scan fails
            console.warn(`Code scan error = ${error}`);
		}

       let html5QrCode = new Html5Qrcode("reader");
        html5QrCode.start(
            { facingMode: "environment" }, // This specifies the rear facing camera as a preference ('user' refers to the front-facing camera)
            {
                fps: 10,    // Frames per second (may adjust if necessary)
                qrbox: {width: 250, height: 250}  // Size and dimensions of the viewfinder
            },
            onScanSuccess,
            onScanError
        ).catch((err) => {
            console.error("Error occurred before scanning could start:", err);
        });
    </script>
</body>
</html>
